<h3>Editing Book</h3>
 <%= form_with model:@book,url:book_path(@book.id),　method: :patch do |f| %>
 <p>Title</p>
 <%= f.text_field :title %>
 <p>Body</p>
 <%= f.text_area :body %>
 <%= f.submit 'Update Book'%>
<% end %>

<ul class="commonul">
 <li class="commonli"><%= link_to'Show', book_path(params[:id]) %></li>
 <li class="commonli"><%= link_to'Back', books_path %></li>
</ul>

