<h2>Books</h2>
<div class="new">
  <div class="box">
   <h4 class="title">Title</h4>
   <% @books.each do |book| %>
     <span><%= book.title %></span>
   <% end %>
   </div>
   
  <div class="box">
  <h4 class="title">Body</h4>
  <% @books.each do |book| %>
    <span><%= book.body %></span>
  <% end %>
   </div>
   
  <div class="box">
  <h4 class="title"><br></h4>
  <% @books.each do |number| %>
   <%=link_to'Show', book_path(number) %>
  <% end %>
   </div>
  
  <div class="box">
  <h4 class="title"><br></h4>
  <% @books.each do |number| %>
   <%=link_to'Edit', edit_book_path(number) %>
  <% end %>
   </div>
  
   <div class="box">
  <h4 class="title"><br></h4>
  <% @books.each do |number| %>
  <%= link_to "Destroy",book_path(number), method: :delete, "data-confirm" => "Are you sure?" %>
  <% end %>
   </div>
</div>


<h3>New book</h3>


<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book, url:'/books',method: :post do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>


<div class="create-box">
  <%= f.submit 'Create Book' %>
</div>

<% end %>